<template>
  <div class="chat-view d-flex fill-height">
    <v-row no-gutters>
      <v-navigation-drawer
        id="chatRoomsSidebar"
        v-model="drawerLeft"
        :absolute="overlayLeftDrawer"
        :permanent="!overlayLeftDrawer"
        width="250"
      >
        <chat-rooms-sidebar-content
          :selected-chat-room="selectedChatRoom"
          @select-conversation="onConversationSelected"
          @select-user="onUserSelected"
        />
      </v-navigation-drawer>
      <chat-room
        :chat-room="selectedChatRoom"
        :new-contact="isUserSelected"
        :overlay-left-drawer="overlayLeftDrawer"
        @toggle-left-drawer="toggleLeftDrawer"
        @send-message="sendMessage"
        @leave-conversation="leaveConversation"
      />
    </v-row>
    <v-snackbar
      class="message-notification"
      v-model="newMessageNotification.show"
      absolute
      top
      right
      timeout="3000"
      max-width="350"
      @click.native="onMessageNotificationClick"
    >
      <div>
        <div class="message-sender">
          {{ newMessageNotification.sender }}
        </div>
        <div class="message-text">
          {{ newMessageNotification.text }}
        </div>
      </div>

      <template v-slot:action="{ attrs }">
        <v-btn
          color="pink"
          text
          v-bind="attrs"
          @click.stop="newMessageNotification.show = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import ChatRoom from "../components/ChatRoom.vue";
import ChatRoomsSidebarContent from "../components/ChatRoomsSidebarContent.vue";
import * as SignalRService from "../services/signalrService";
import { MessageData } from "../models/MessageData.js";
import { MessageItem } from "../models/MessageItem.js";
import { leaveGroup as sendLeaveGroupRequest } from "./../services/chatApi.js";
import * as Helpers from "./../utils/helpers.js";

export default {
  components: { ChatRoomsSidebarContent, ChatRoom },
  data() {
    return {
      drawerLeft: !this.$vuetify.breakpoint.smAndDown,
      selectedChatRoom: null,
      isUserSelected: null,
      newMessageNotification: {
        show: false,
        sender: "",
        text: "",
        conversationId: -1,
      },
    };
  },
  computed: {
    overlayLeftDrawer() {
      return this.$vuetify.breakpoint.smAndDown;
    },
    conversations() {
      return this.$store.getters.conversations;
    },
    messages() {
      return this.$store.getters.messages;
    },
  },
  methods: {
    toggleLeftDrawer() {
      this.drawerLeft = !this.drawerLeft;
    },
    /**
     * Send message data to the server
     * @param {MessageData} messageObject Message data to send
     */
    async sendMessage(messageObject) {
      Helpers.devlog("Send message: ", messageObject);

      let isFirstMessageToGroup = !this.conversations.some(
        (conv) => conv.id === messageObject.receiverConversationId
      );

      // Add message locally without waiting for server response
      let messageItem = MessageItem.create(
        !this.selectedChatRoom.isUser ? this.selectedChatRoom.id : -1,
        this.$store.getters.userid,
        this.$store.getters.username,
        messageObject.messageText
      );
      this.$store.commit("addMessage", messageItem);

      let responseData = await SignalRService.sendMessage(messageObject);
      // Update local message item with data from the server
      messageItem.isDelivered = true;
      messageItem.id = responseData.messageId;
      if (!!responseData.conversationId) {
        messageItem.conversationId = responseData.conversationId;
      }

      if (isFirstMessageToGroup) {
        await this.selectMessagedChatRoom(messageItem.conversationId);
      }
    },
    onConversationSelected(item) {
      Helpers.devlog("Selected conversation", item);
      let conversation = item;
      let existingConversations = this.conversations.filter(
        (x) => x.id == item.id
      );
      if (existingConversations.length > 0) {
        conversation = existingConversations[0];
      }
      this.selectedChatRoom = conversation;
      this.isUserSelected = false;
    },
    onUserSelected(item) {
      Helpers.devlog("Selected user", item);
      let conversationsWithSelectedUser = this.conversations.filter(
        (x) => x.otherUserId == item.id
      );
      if (conversationsWithSelectedUser.length > 0) {
        let conversation = conversationsWithSelectedUser[0];
        this.selectedChatRoom = conversation;
        this.isUserSelected = false;
        Helpers.devlog("Selected conversation", conversation);
      } else {
        this.selectedChatRoom = item;
        this.isUserSelected = true;
      }
    },
    /**
     * Helper. Reloads the conversation list and makes the group matching the specified ID active.
     *  */
    async selectMessagedChatRoom(groupId) {
      await this.$store.dispatch("loadConversations");
      let messagedConversation = this.conversations.find(
        (conv) => conv.id === groupId
      );
      this.selectedChatRoom = messagedConversation;
      this.isUserSelected = false;
    },
    async leaveConversation(groupId) {
      await sendLeaveGroupRequest(groupId);
      SignalRService.leaveGroup(groupId);
      this.selectedChatRoom = null;
      this.isUserSelected = false;
      await this.$store.dispatch("loadConversations");
    },
    showNewMessageNotification(message) {
      this.newMessageNotification.show = true;
      this.newMessageNotification.sender = message.senderName;
      this.newMessageNotification.text = message.text;
      this.newMessageNotification.conversationId = message.conversationId;
    },
    onMessageNotificationClick() {
      this.newMessageNotification.show = false;
      let messagedConversation = this.conversations.find(
        (x) => x.id == this.newMessageNotification.conversationId
      );
      if (!!messagedConversation) {
        this.selectedChatRoom = messagedConversation;
        this.isUserSelected = false;
      }
    },
    /**
     * Helper. Set the latest message for related conversation in the sidebar
     * @param {MessageItem} message
     */
    setLatestMessageInSidebar(message) {
      this.conversations.forEach((c) => {
        if (c.id === message.conversationId) {
          c.lastMessage = message;
        }
      });
    },
  },
  mounted() {
    SignalRService.subscribeToReceiveMessage(this, (message) => {
      let isMessageAddressedToCurrentChatRoom =
        !!this.selectedChatRoom &&
        message.conversationId === this.selectedChatRoom.id;
      let isMessageFromOtherUser =
        message.senderId != this.$store.getters.userid;
      if (isMessageAddressedToCurrentChatRoom) {
        /* let messageStoreHasUndeliveredMessages = this.messages.some(
          (m) => m.id < 1
        ); */
        if (isMessageFromOtherUser) {
          this.$store.commit("addMessage", message);
        }
      } else {
        this.showNewMessageNotification(message);
        // TODO look into new message push notification (???)

        this.$store.commit("addUnreadMessage", message);
      }
      this.setLatestMessageInSidebar(message);
    });
    
    SignalRService.subscribeToAddToGroup(this, async (message) => {
      Helpers.devlog("Received message from new contact in component", message);

      if (!this.conversations.some((c) => c.id == message.conversationId)) {
        await SignalRService.joinGroup(message.conversationId);
        await this.$store.dispatch("loadConversations");
        this.showNewMessageNotification(message);
      }
    });
    
    SignalRService.connect();
  },
  beforeDestroy() {
    SignalRService.unsubscribeFromReceiveMessage(this);
    SignalRService.unsubscribeFromAddToGroup(this);
    SignalRService.disconnect();
  },
};
</script>

<style>
#chatRoomsSidebar {
  z-index: 2;
}

#message-input {
  max-height: 150px;
}

.message-notification .message-text {
  max-height: 4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.message-notification .message-sender {
  font-weight: 600;
}
</style>
