<template>
  <div class="home">
    <img
      src="./../../public/vuetify_banner.jpg"
      alt="home_screen_background"
    >
    <div class="content">
      <h1 class="big-title">
        WebChat
      </h1>
      <v-btn
        x-large
        color="success"
        dark
        to="/chat"
        class="pa-8"
      >
        Start Chatting
      </v-btn>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Home',
  }
</script>

<style>
.home {
  display: flex;
  height: 100%;
}

.home > img {
  position: absolute;
}

.home > div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex-grow: 2;
}

.home .big-title {
  color: white;
  font-size: 100px;
  text-shadow: 2px 2px 10px black;
}

@media screen and (max-width: 900px) {
  .home .big-title {
    font-size: 90px;
  }
}

@media screen and (max-width: 600px) {
  .home .big-title {
    font-size: 70px;
  }
}
</style>
