<template>
  <div class="sign-up">
    <img
      src="./../../public/vuetify_banner.jpg"
      alt="home_screen_background"
    >
    <div class="align-self-center">
      <v-alert
        v-model="errorAlert"
        type="error"
        border="left"
        close-text="Close Alert"
        class="mx-auto"
        max-width="400px"
        dismissible
      >
        {{ errorAlertMessage }}
      </v-alert>
      <v-alert
        v-model="successAlert"
        type="success"
        border="left"
        close-text="Close Alert"
        class="mx-auto"
        max-width="400px"
        dismissible
      >
        User registered
      </v-alert>
      <v-card
        width="400px"
        elevation="9"
        :loading="processingRegistrationsRequest"
      >
        <!-- progress -->
        <template slot="progress">
          <v-progress-linear
            color="deep-purple"
            height="10"
            indeterminate
          />
        </template>
        <v-card-title class="text-center">
          Sign Up
        </v-card-title>
        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent="registerUser"
          >
            <v-text-field
              class="mb-2"
              v-model="user.username"
              :rules="[rules.required]"
              label="Username"
            />
            <v-text-field
              class="mb-2"
              v-model="user.email"
              :rules="[rules.required, rules.email]"
              label="E-mail"
            />
            <v-text-field
              class="mb-2"
              v-model="user.password"
              :type="showPassword ? 'text' : 'password'"
              :rules="[rules.required]"
              label="Password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="toggleShowPassword"
            />
            <v-col class="mt-4">
              <v-row>
                <v-spacer />
                <v-btn
                  color="success"
                  type="submit"
                  :disabled="!valid || processingRegistrationsRequest"
                  :loading="processingRegistrationsRequest"
                >
                  Register
                </v-btn>
              </v-row>
            </v-col>
          </v-form>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import { register as makeRegistrationRequest } from "../services/auth.js";

export default {
  data() {
    return {
      errorAlert: false,
      errorAlertMessage: "Registration failed",
      successAlert: false,
      valid: false,
      processingRegistrationsRequest: false,
      user: {
        username: "",
        email: "",
        password: "",
      },
      showPassword: false,
      rules: {
        required: (value) => !!value || "Required",
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail";
        },
      },
    };
  },
  methods: {
    toggleShowPassword() {
      this.showPassword = !this.showPassword;
    },
    validate() {
      this.$refs.form.validate();
    },
    clearForm() {
      this.$refs.form.reset();
    },
    async registerUser() {
      this.validate();
      if (!this.valid) return;
      
      const creds = Object.assign({}, this.user);
      this.processingRegistrationsRequest = true;
      this.errorAlert = false;
      this.successAlert = false;
      const res = await makeRegistrationRequest(
        creds
      );
      if (res.requestSuccess) {
        this.processingRegistrationsRequest = false;
        this.registrationSuccess = true;
        this.successAlert = true;
        this.clearForm();
      }
      else { 
        this.processingRegistrationsRequest = false;
        this.errorAlert = true;
        this.errorAlertMessage = res.error;
      }
    },
  },
};
</script>

<style>
.sign-up {
  display: flex;
  justify-content: center;
  height: 100%;
}

.sign-up > .v-card {
  height: fit-content;
  margin: 0;
}

.sign-up > img {
  position: absolute
}
</style>
