<template>
  <v-menu
    bottom
    left
    :offset-y="true"
  >
    <template v-slot:activator="{ on: onMenu, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="onMenu"
        text
        class="authenticated-user-menu-toggle"
      >
        <v-icon
          left
          size="24"
        >
          mdi-account
        </v-icon>
        {{ username }}
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        to="/chat"
      >
        <v-list-item-icon>
          <v-icon>mdi-chat</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Chat</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider />
      <v-list-item @click="logout">
        <v-list-item-icon>
          <v-icon>mdi-logout</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  data() {
    return {
      username: this.$store.getters.username,
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    }
  }
}
</script>

<style>
.authenticated-user-menu-toggle > .v-btn__content {
  text-transform: none;
  font-size: 16px;
}
</style>