<template>
  <div class="conversation-list-item-content">
    <div class="d-flex flex-column">
      <v-list-item-title class="conversation-title">
        {{ title }}
      </v-list-item-title>
      <v-list-item-subtitle
        class="last-message"
        v-if="lastMessage"
      >
        <span class="message-author">{{ lastMessage.senderName }}</span>: <span>{{ lastMessage.text }}</span>
      </v-list-item-subtitle>
    </div>
    <div
      class="new-message-badge"
      v-if="unreadMessages > 0"
    >
      {{ unreadMessages }}
    </div>
  </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: ""
        },
        lastMessage: {
            type: Object,
            default: null
        },
        unreadMessages: {
            type: Number,
            default: 0
        }
    }
}
</script>

<style>
.conversation-list-item-content {
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

.conversation-list-item-content > div:first-child {
  min-width: 20px;
}

.conversation-list-item-content .v-list-item__title.conversation-title {
  align-self: start;
}

.conversation-list-item-content .last-message > .message-author {
  font-weight: 900;
}

.conversation-list-item-content .new-message-badge {
  background-color: cornflowerblue;
  padding: 2px 6px;
  display: inline-block;
  height: 20px;
  min-width: 20px;
  max-width: 50px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>